<!DOCTYPE html>
{% extends 'base.html' %}

<html>

<body>

{% block content %}

<h1>Controversy Over Artificial Intelligence</h1>

<div class="a">

  <p>Since its beginning, artificial intelligence has come under scrutiny from scientists and the public alike. One common theme is the idea that machines will become so highly developed that humans will not be able to keep up, and they will take off on their own, redesigning themselves at an exponential rate. Another is that machines can hack into people's privacy and even be weaponized. Other arguments debate the ethics of artificial intelligence, and whether or not intelligent systems such as robots should be treated with the same rights as humans.</br>
  Self-driving cars have been the subject of controversy, as their machines tend to be designed for the lowest possible risk and the least casualties. While they remove the incidence of human error, this means that if they were put in a situation in which they had to decide between a collision with one person and a collision with another, they would calculate which option would cause the least amount of damage, but would still have to choose one. This is disconcerting to many people who believe that lives should not be put at the mercy of a machine.
  </p>
</div>

{% endblock content %}

</body>
</html>
