<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>

<body>
{% block content %}
<h1>What is Artificial Intelligence (AI)</h1>
<div class="a">
  <p><img src="{% static "images/pi1.png" %}" alt="SGDs" title="AI" style="float:center" width="600" height="400"></br>
      <strong>Artificial intelligence (AI)</strong> is an area of computer science that emphasizes the creation of intelligent machines that work and react like humans. Some of the activities computers with artificial intelligence are designed for include:
  </p>
  <ul>
    <li>Speech recognition</li>
    <li>Learning</li>
    <li>Planning</li>
    <li>Problem solving</li>
  </ul>
</div>
<div class="b">
  <h2>What is Artificial Intelligence (AI)</h2>
  <p>
      <strong>Artificial intelligence (AI)</strong> is a branch of computer science that aims to create intelligent machines. It has become an essential part of the technology industry.

Research associated with artificial intelligence is highly technical and specialized. The core problems of artificial intelligence include programming computers for certain traits such as:
  </p>
  <ul>
    <li>Knowledge</li>
    <li>Reasoning</li>
    <li>Perception</li>
    <li>Problem solving</li>
    <li>Ability to manipulate and move objects</li>
  </ul>
</div>

{% endblock content %}

</body>
</html>
